@model StatisticsIndexViewModel

@{
    if (Model.Expenses.Count() == 0)
    {
        <br />
        <strong>There are currently no expenses listed.</strong>
    }

    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Expense
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Highest expense</strong></tr>
                <tr>
                    <td class="info">
                        @Model.HighestExpense.Description
                    </td>
                    <td class="info">
                        @Model.HighestExpense.Date
                    </td>
                    <td class="info">
                        @Model.HighestExpense.Amount
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>
                        Expense
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Lowest expense</strong></tr>
                <tr>
                    <td class="info">
                        @Model.LowestExpense.Description
                    </td>
                    <td class="info">
                        @Model.LowestExpense.Date
                    </td>
                    <td class="info">
                        @Model.LowestExpense.Amount
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Most Expensive Date</strong></tr>
                <tr>
                    <td class="info">
                        @Model.HighestDayExpense.Date.ToShortDateString()
                    </td>
                    <td class="info">
                        @Model.HighestDayExpense.Amount
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>
                        Month
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Monthly expenses</strong></tr>
                @foreach (var month in Model.MonthlyExpenses)
                {
                    <tr>
                        <td class="info">
                            @month.Date.ToString("MMMM", new System.Globalization.CultureInfo("en-US", true))
                        </td>
                        <td class="info">
                            @month.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Most Expensive Category</strong></tr>
                <tr>
                    <td class="info">
                        @Model.MostExpensive.Category
                    </td>
                    <td class="info">
                        @Model.MostExpensive.Amount
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Least Expensive Category</strong></tr>
                <tr>
                    <td class="info">
                        @Model.LeastExpensive.Category
                    </td>
                    <td class="info">
                        @Model.LeastExpensive.Amount
                    </td>
                </tr>
            </tbody>
        </table>
    }
}



<style>
    table, td {
        border-bottom: 1px solid black;
    }



    .info {
        width: 20vw;
    }
</style>