@model IEnumerable<ExpenseListViewModel>



<a asp-controller="Expense" asp-action="Create">Add new expense</a>
@{
    if (Model.Count() == 0)

    {
        <br />
        <strong>None Available.</strong>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Expense
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (ExpenseListViewModel expense in Model)
                {
                <tr>
                    <td class="info">
                        <img src="@expense.PhotoUrl" style="width: 20px;
    height: 20px;"/>
                    </td>
                    <td class="info">
                        @expense.Description
                    </td>
                    <td class="info">
                        @expense.Category
                    </td>
                    <td class="info">
                        @expense.Date
                    </td>
                    <td class="info">
                        @expense.Amount
                    </td>
                    <td class="feature">
                        <a asp-controller="Expense" asp-action="Edit" asp-route-id="@expense.Id">Edit</a>
                    </td>
                    <td class="feature">
                        <a asp-controller="Expense" asp-action="Delete" asp-route-id="@expense.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
}



<style>
    table, td {
        border-bottom: 1px solid black;
    }
    .info {
        width: 20vw;
    }
</style>